body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    position: relative;

    .game-container {
        width: 100vw;
        height: 380px;
        position: relative;
        
        border-top: 5px solid #8ab4f8;
        border-bottom: 5px solid #8ab4f8;

        
        .background {

            @keyframes slideright {
                from {
                    background-position: 40000%;
                }

                to {
                    background-position: 0;
                }

            }

           
            width: 100vw;
            height: 200px;
            position: absolute;
            background: url(../image/background.png) repeat-x;  
            bottom: 0;
            margin-bottom: 2rem;
            
        }

        .animacao{
            animation: slideright 1200s infinite linear;

        }
        
        .dino-run1 {
            width: 110px;
            height: 110px;
            background: url(../image/dinorun0000.png) no-repeat;
            position: absolute;
            bottom: 0;
            margin-left: 2rem;
            margin-bottom: 2rem;    
        }

        .dino-jump {
            background: url(../image/dinoJump0000.png) no-repeat ;
        }

        .dino-run2 {
            background: url(../image/dinorun0001.png) no-repeat;
        }

        .dino-dead{
            background: url(../image/dinoDead0000.png) no-repeat;
           //background-size: 100px;
        }

        .cactus {
         
            width: 126px;
            height: 120px;
            position: absolute;
            bottom: 30px;

            
        }
        
        .cactus1 {
         
            width: 126px;
            height: 120px;
            position: absolute;
            bottom: 30px;
            right: -125px;
        }
        
        .cactus-run{

            @keyframes slider-cactus {
                from {
                    right: -125px
                }

                to {
                    right: 2000px
                }

            }

            animation: slider-cactus 4500ms infinite linear;
        }

        
    }

    .game-over{
        display: none;
        position: absolute;
        left: 42.5%;
        font-family: 'Press Start 2P', cursive;
    }

    .game-over--show{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .game-over__btn{
        font-family: inherit;
        width: 200px;  
        height: 50px;
        background-color: #fafafa;
        cursor: pointer;
        transition: all .2s ease-in;
        border: 1px solid black;
         

        &:hover{

            background-color: rgb(82, 79, 79);
            color: #fafafa;            
        }

    }

}     
