body {
    overflow-x: hidden;


    .background {

        @keyframes slideright {
            from {
                background-position: 700000%;
            }

            to {
                background-position: 0;
            }

        }

        width: 100%;
        height: 200px;
        position: absolute;
        background: url(../image/background.png) repeat-x;
        bottom: 0px;
        animation: slideright 600s infinite linear;

        .dino-run1 {
            width: 110px;
            height: 110px;
            background: url(../image/dinorun0000.png) no-repeat;
            position: absolute;
            bottom: 0;
            margin-left: 2rem;
        }

        .dino-jump {
            background: url(../image/dinoJump0000.png) no-repeat;
        }

        .dino-run2 {
            background: url(../image/dinorun0001.png) no-repeat;
        }

        .cactus {
            width: 110px;
            height: 110px;
            background: url(../image/cactusBig0000.png);
            position: absolute;
            bottom: 0;
            margin-left: 10rem;
        }
    }
}